<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Mercado liebre </title>
    </head> 
    <body>
        <img src="/images/logo-mercado-liebre.svg" alt="logo" width="360" >

        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
    
        <ul>
        <li><a href="">Ofertas</a></li>
        <li> <a href="">Tiendas Oficiales</a></li>
        <li> <a href="">Vender</a></li>
        <li> <a href="">Ayuda</a></li>
        </ul>
         
        <ul> 
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href="">Ingresa</a></li>
        <li><a href="">Mis compras</a></li>
        </ul>
        
        <section>
            <h2>Basado en tu última visita</h2>
            <div>
              <img
                src="/images/img-home-banner.jpg"
                width="360"
                alt="banner de ofertas"
              />
            </div>        
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
            <div>$6.770</div>
            <div>40% OFF</div>
            <div><strong> Moulinex</strong></div>
        </article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Macbook">
            <div>$230.000</div>
            <div>20% off</div>
            <div><strong>MacBook Pro 2019</strong></div>
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung">
            <div>$70.500</div>
            <div>10% off</div>
            <div><strong>Samsung Galaxy S10</strong></div>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv">
            <div>$23.200</div>
            <div>5% off</div>
            <div><strong>SmartTV Samsung 43¨</strong></div>
        </article>   
    </section>
    
    <section>
        <section>
            <h2>Sección de Ofertas</h2>
            <div>
              <img
                src="/images/img-home-banner.jpg"
                width="360"
                alt="banner de ofertas"
              />
            </div>        
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
            <div>$6.770</div>
            <div>40% OFF</div>
            <div><strong> Moulinex</strong></div>
        </article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Macbook">
            <div>$230.000</div>
            <div>20% off</div>
            <div><strong>MacBook Pro 2019</strong></div>
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung">
            <div>$70.500</div>
            <div>10% off</div>
            <div><strong>Samsung Galaxy S10</strong></div>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv">
            <div>$23.200</div>
            <div>5% off</div>
            <div><strong>SmartTV Samsung 43¨</strong></div>
        </article>           
    </section>
    
    <footer>
        <ul type="none">
            <li>
                <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li>
                <p><strong>Envío gratis desde $2.500</strong></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos</p>
            </li>
            <li>
                <p><strong>Seguridad, de principio a fin</strong></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </li>
            <li>
                <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
            </li>            
        </ul>                
    </footer> 
    </body>
</html>








