*{
  margin: 0px;
  padding: 0px;    
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

h3{
  font-size: 24px;
}


p{
  font-size: 12px;
}

.logo {
  margin: 3%  0 3%;
  width: 55%;
  padding: 1.5%;
  text-align: center;
}

.fa-search {
  background-color: #ebebeb;
  font-size: 14px;
  border: solid 1px;
  border-radius: 3px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  position:relative;
  bottom: 5px;
  left: 3px;


}


.buscador {
  flex-grow: 8;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buscador input[type=text] {
  width: 80%;
}


.caja3 {
  padding: 1.5%;
  font-size: 13px;
  text-align: center;
}
header{
  background-color: #EAC926;
}


header ul li{
  list-style-type: none;
}

header ul li a{
  text-decoration: none;
  color: #000;
}

.links-directos {
  display: none;
  padding-bottom: 15px;
}

div.burger-menu{
  display: flex;
  justify-content: center;
}

div.burger-menu i{
  background-color: #0044AA;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
  
}

div.last-visit,
div.offers{
  display: flex;
  flex-wrap: wrap;
}

.price{
  font-size: 18px;
  width: 30%;
}

.discount{
  width: 70%;
}

.discount,
.description{
  font-size: 16px;
  font-weight: normal;
}

h3,
.description{
  color: #666;
}

.description {
  font-size: 16px;
  line-height: normal;
  color: #ffff;
  margin-top: -5px;
}

main section article .description{
  display: block;
}

main section div article:hover .description {
  color: #666;
  margin-top: 5px;
  
}


section.banner img{
  width: 100%;
}

main.home{
  width: 90%;
  margin: 0 auto;
}




article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section div article div i.fa-truck:hover {
  transform: rotateZ(-90deg);
}


main section article{
  background-color: #fff;    
  margin: 10px 0px;
}


main section article img{
  width: 100%;
}

main section article i,
.discount{
  color: #39b54a;
}

main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section h3{
  margin: 20px 0px;
}

article div.main-article{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

.titulo-footer {
  font-size: 14px;
  text-align: center;
  padding: 8px;

}

.icono-footer{
  font-size: 2em;
  margin-bottom: 10px;  
  color: #1259c3;
  text-align: center;
  flex-wrap: wrap;
}

.icono-footer:hover {
  color:#39b54a;
} 

.texto-footer{
  text-align: center;
  margin: 0px 15px 40px 15px;
}




footer {
  margin-top: 2%;
  background-color: #ffff;
  padding: 10px 20px;
}

/* TRABAJAMOS SOBRE EL REGISTER*/

main.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.register form{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #ebebeb;
  width: 180px;
}


main.register form input[type=text],[type=email],[type=date],[type=password],[type=file]{
margin-top: 10px;
margin-bottom: 20px;
border: solid 0px;
font-size: 12px;
padding: 5px;
border-radius: 5px;
width: 100%;
align-items: center;
}

main.registerd form input[type=checkbox],[type=radio]{
  margin: 10px;
  border: solid 0px;
  padding: 5px;
  border-radius: 5px;
  align-items: flex-start;

}



.titulos-register {
  font-style: solid;
  margin-top: 15px;
}


.register-buttons {
  text-align: center;
}

.register-buttons button {
  margin: 0px 25px;
  font-size: 15px;
  padding: 0px 5px 0px 5px;
}

main.login form input[type=password],[type=text]{
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid 0px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}

.login-button {
  text-align: center;
}
.login-button button{
  background-color: #1259c3;
  width: 150px;
  height: 30px;
  color: white;
  border: solid 0px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 20px;
}

.login-button button:hover {
  background-color: #0022AA;
}

main.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 20% 2% 20%;
}

.intereses-opciones {
  margin-top: 10px;
  margin-bottom:8px ;
  font-size: 13px;
}



@media (min-width: 361px){

  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.logo {
  margin: 4px;
  width: 20%;
}


.caja3 {
  width: 32%;
  text-align: right;
}

  main section article{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
  }
  
  main section div.products article{
      width: 45%;
  }

  .price,
  .discount{
      width: 50%;
  }
.links-directos {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
} 

.links-directos ul {
  display: flex;
}

.links-directos ul li{
  margin-left: 20px;
}

div.burger-menu{
  display:none;
}

main.register form{
  width: 350px;
}

main.login form input[type=password],[type=text]{
    width: 300px;
}
.login-button button{
  width: 300px;
}


}

@media (min-width: 769px){
  main section div.products article{
      width: 22.5%;
  }

main.register form{
    width: 500px;
  }

  
main.register {
  margin: 0% 100px 0% 100px;
  padding:0% 10% 0% 10%; 
}

.ajuste-footer {
  display: flex;
  padding: 30px 0;
}
main.login form input[type=password],[type=text]{
  width: 360px;
}
.login-button button{
width: 360px;

}



}


